* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: white;
    background: url('fondo\ 2\ comprimido.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  
  header {
    display: flex;
    align-items: center;
    padding: 20px 50px;
    background-color: white;
    border-bottom: 1px solid black;
  }
  
  .logo {
    font-family: Nunito;
    font-size: 30px;
    font-weight: 800;
    color: #A3752C;
    margin-right: auto;
  }
  
  nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin-right: 100px;
  }
  
  .nav-item {
    position: relative;
    display: inline-block;
  }
  
  nav a {
    font-family: Roboto;
    margin: 0 15px;
    font-size: 14px;
    color: black;
    text-decoration: none;
    font-weight: 450;
    letter-spacing: 5px;
  }
  
  .nav-item .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border-radius: 8px;
    z-index: 1000;
    padding: 10px 0;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.116);
    border: 1px solid black;
  }
  
  .nav-item:hover .dropdown {
    display: block; 
  }
  
  .dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .dropdown li {
    padding: 10px 15px;
    font-family: Roboto;
    font-size: 14px;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 450;
    letter-spacing: 1px;
  }
  
  .dropdown li:hover {
    background-color: #f0f0f0;
  }

  .subtitle {
    font-family: Urbanist;
    font-weight: 450;
    margin-bottom: 20px;
    letter-spacing: 2px;
    margin-top: 50px;
    margin-left: 55px;
  }

  h1 {
    font-family: Montserrat;
    font-size: 38px;
    font-weight: 750;
    color: #A3752C;
    margin-bottom: 35px;
    margin-left: 55px
  }

  .boton-explorar {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    background-color: #A3752C;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-left: 55px;
    letter-spacing: 1px;
  }
  
  .boton-explorar:hover {
    background-color: #775623;
    text-decoration: underline;
  }

  .cuerpo {
    font-family: Montserrat;
    margin-left: 55px;
    margin-right: 800px;
    line-height: 1.5;
  }

  .cuerpo2 {
    font-family: Montserrat;
    margin-left: 55px;
    margin-right: 800px;
    line-height: 1.5;
    margin-bottom: 30px;
  }