* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #3b2925;
  }
  
  header {
    display: flex;
    align-items: center;
    padding: 20px 50px;
    background-color: white;
    border-bottom: 1px solid black;
  }
  
  .logo {
    font-family: Nunito;
    font-size: 30px;
    font-weight: 800;
    color: #A3752C;
    margin-right: auto;
  }
  
  nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin-right: 100px;
  }
  
  .nav-item {
    position: relative;
    display: inline-block;
  }
  
  nav a {
    font-family: Roboto;
    margin: 0 21px;
    font-size: 14px;
    color: black;
    text-decoration: none;
    font-weight: 450;
    letter-spacing: 1px;
  }
  
  .nav-item .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border-radius: 8px;
    z-index: 1000;
    padding: 10px 0;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.116);
    border: 1px solid black;
  }
  
  .nav-item:hover .dropdown {
    display: block; 
  }
  
  .dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .dropdown li {
    padding: 10px 15px;
    font-family: Roboto;
    font-size: 14px;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 450;
    letter-spacing: 1px;
  }
  
  .dropdown li:hover {
    background-color: #f0f0f0;
  }
 
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
  }
  
  .content-wrapper {
    display: flex;
    justify-content: center;
    gap: 200px;
    padding: 50px;
  }
  
  .card {
    position: relative;
    width: 350px;
    height: 550px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-decoration: none;
  }
  
  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s, transform 0.3s;
  }
  
  .card:hover img {
    opacity: 0.7;
    transform: scale(1.05);
  }
  
  .overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 65px;
    font-family: Great Vibes;
    font-weight: 500;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
  }  