body {
    background-image: url('fondo\ revista\ vectorizada.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
.intro__title {
    font-family: Nunito;
    font-size: 15rem;
    text-align: center;
    letter-spacing: 3px;
    margin-top: 10px;
    margin-bottom: 0px;
    color: #BC5F04
  }
  .intro__description{
    font-family: Roboto;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 22px;
  }
  h2 {
    font-family: Urbanist;
    font-weight: 600;
    letter-spacing: 5px;
    color: #BC5F04;
    display: inline-block;
    border-bottom: 3px dotted #000;
    padding-bottom: 10px;
    margin-left: 650px;
  }
  h3 {
    text-align: center;
    font-family: Dancing Script;
    font-size: 5rem;
    color: #BC5F04;
  }
  h4 {
    font-family: Urbanist;
    font-size: 1.5rem;
    color: #BC5F04;
    text-align: center;
  }
  .intro__action {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #BC5F04;
    border-radius: 50px;
    background-color: #BC5F04;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-left: 600px;
}
.intro__action:hover {
    background-color: white;
    color: black;
}